<div class="container">
  <h1>My Tasks</h1>

  <% @tasks.each do |task| %>
    <p>
      <span>
        <% if task.completed == true  %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end %>
      </span>
      <%= link_to task_path(task) do  %>
        <span><%= task.title %> </span>
      <% end %>
      <span>
        <%= link_to task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?"} do  %>
          <i class="fas fa-trash"></i>
        <% end %>
      </span>

    </p>
  <% end %>

  <%= link_to tasks_new_path do %>
    <span>
     <i class="fas fa-plus"></i>
     Add a new task
    </span>
  <% end %>

</div>
